body
{
    font-family: "lato",sans-serif;
    margin: 70px 0px;
    background: linear-gradient(to right, rgb(181, 135, 135), rgb(74, 96, 115));
}
.divider
{
    width: 200px;
    height: 2px;
    background: #fff;
    margin: 0 auto;
}
.heading
{
    text-align: center;
    margin-bottom: 30px;
}
h2
{
    text-transform: uppercase;
    font-weight: bold;

}
#contact-form
{
    font-size: 20px;
    background: #fff;
    padding: 40px;
    border-radius: 15px;
}
.blue
{
    color: #0069d6;
    font-weight: bold;
}
.label
{
    font-weight: bold;
}
.comments
{
    font-style: italic;
    font-size: 18px;
    color: #d82c2e;
    height: 25px;
}
#contact-form input[type=submit]
{
    margin: 20px auto 0px;
    display: block;
}
.button1
{
    border: 1px solid #ddd;
    background:  #333;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    padding: 18px;
    border-radius: 10px;
    transition: all 0.2s ease-in 0s;
}
.button1:hover
{
    background:linear-gradient(to right, rgb(181, 135, 135), rgb(74, 96, 115));
    /* border-color: #ffa500; */
}
.thank-you
{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 22px;
    color: #0069d6;
}